<div>
    <a href="/">Regresar</a>
    <h1>
        Usuario n°: <%= user.id %>
    </h1>

    <p>Nombre: <%= user.nombre %></p>
    <p>Apellido: <%= user.apellido %></p>
    <p>Edad: <%= user.edad %></p>
    <p>Correo: <%= user.email %></p>
</div>
</html>